.AddButton {
  padding: 4px;
  border: none;
  background: none;
}

.AddButton svg {
  display: block;
  width: 1em;
  height: 1em;
}

.AddButton circle {
  fill: var(--primary-color);
}

.AddButton path {
  fill: white;
}
