html {
  --primary-color: #579aff;
  --primary-color-2: #d7e7ff;
  --background-color: #f8faff;
  --background-color-2: #f9fbff;
  --alert-color: #ff5758;
  --alert-color-2: #fadcdc;
  --alert-background-color: #fff9f9;
  --heading-color: #000;
  --text-color: #444;
  --text-color-2: #555;
}

.App {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  font-size: 18px;
}

.AppToastText > button {
  margin-left: 12px;
  padding: 6px 12px;
  border: 1px solid var(--primary-color);
  background-color: var(--background-color-2);
}
