.ContactEditor {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 77px 32px 32px 32px;
  color: var(--text-color);
}

.ContactEditor > .EmptyMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 45px;
  text-align: center;
}

.ContactEditor > .EmptyMessage .AddButton {
  position: relative;
  top: 6px;
  font-size: 24px;
  cursor: pointer;
}

.ContactEditor > .ContactDetails {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.ContactEditor .ContactDetailsScrollContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -10px;
  padding-left: 10px;
  overflow-y: auto;
}

.ContactEditor .NameRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ContactEditor .NameRow > .LabelContainer {
  width: calc((100% - 40px) / 2);
  margin-bottom: 24px;
}

.ContactEditor .NameRow .TextInput {
  margin-top: 7px;
}

.ContactEditor .EmailRow {
  flex-grow: 1;
}

.ContactEditor .EmailRow .EmailsInput {
  margin-top: 3px;
}

.ContactEditor .ButtonsRow {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 32px;
  margin-left: -32px;
}

.DialogButtonsRow button,
.ContactEditor .ButtonsRow button {
  float: right;
  min-width: 120px;
  margin-left: 32px;
  padding: 6px 12px;
  cursor: pointer;
}

.ContactEditor button.primary,
.DialogButtonsRow button.primary {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
}

.ContactEditor button.secondary,
.DialogButtonsRow button.secondary {
  border: 1px solid var(--primary-color);
  background-color: var(--background-color-2);
}

.ContactEditor button.destructive,
.DialogButtonsRow button.destructive {
  border: 1px solid var(--alert-color);
  background-color: var(--alert-color);
  color: white;
}

.DialogButtonsRow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-top: 1rem;
}
