.RemoveButton {
  padding: 0;
  border: none;
  background: none;
}

.RemoveButton svg {
  display: block;
  width: 1em;
  height: 1em;
}

.RemoveButton circle {
  fill: var(--alert-color);
}

.RemoveButton path {
  fill: white;
}
